.halfSquare {
  background: #fff;
  border: 1px solid #999;
  /* float: left; */
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 10vh;
  width: 15vw;
  /* margin-right: -1px;
  margin-top: -1px; */
  padding: 0;
  text-align: center;
  /* display: flex;
  flex-direction: column; */
  display: block;
}